.block{
  border: 2px solid;
  height: 100px;
  width: 100px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  font-weight: bold;
}
.Row{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.board{
padding: 60px;
}